<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <filter>
        <filter-name>Set Character Encoding</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>ignore</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Set Character Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>PrechargementFilter</filter-name>
        <filter-class>fr.tp4.filters.PrechargementFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrechargementFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <listener>
	<listener-class>fr.tp4.config.InitialisationDaoFactory</listener-class>
    </listener>
    
	<servlet>
		<servlet-name>CreationClient</servlet-name>
		<servlet-class>fr.tp4.servlets.CreationClient</servlet-class>
		<init-param>
			<param-name>chemin</param-name> 
			<param-value>/home/stagiaire/Documents/JavaEE/fichiers/images/</param-value> 
		</init-param>
		<multipart-config>
			<location>/home/stagiaire/Documents/JavaEE/fichiers/images</location>
			<max-file-size>2097152</max-file-size> <!-- 2 Mo -->
			<max-request-size>10485760</max-request-size> <!-- 5 x 2Mo -->
			<file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
		</multipart-config>
	</servlet>
	<servlet>
		<servlet-name>ListerClients</servlet-name>
		<servlet-class>fr.tp4.servlets.ListerClients</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SupprimerClient</servlet-name>
		<servlet-class>fr.tp4.servlets.SupprimerClient</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreationCommande</servlet-name>
		<servlet-class>fr.tp4.servlets.CreationCommande</servlet-class>
		<init-param>
			<param-name>chemin</param-name> 
			<param-value>/home/stagiaire/Documents/JavaEE/fichiers/images/</param-value> 
		</init-param>
		<multipart-config>
			<location>/home/stagiaire/Documents/JavaEE/fichiers/images</location>
			<max-file-size>2097152</max-file-size> <!-- 2 Mo -->
			<max-request-size>10485760</max-request-size> <!-- 5 x 2Mo -->
			<file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
		</multipart-config>
	</servlet>
	<servlet>
		<servlet-name>ListerCommandes</servlet-name>
		<servlet-class>fr.tp4.servlets.ListerCommandes</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SupprimerCommande</servlet-name>
		<servlet-class>fr.tp4.servlets.SupprimerCommande</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Image</servlet-name>
		<servlet-class>fr.tp4.servlets.Image</servlet-class>
		<init-param>
			<param-name>chemin</param-name> 
			<param-value>/home/stagiaire/Documents/JavaEE/fichiers/images/</param-value> 
		</init-param>
	</servlet>

	
	<servlet-mapping>
		<servlet-name>CreationClient</servlet-name>
		<url-pattern>/creationClient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListerClients</servlet-name>
		<url-pattern>/listerClients</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupprimerClient</servlet-name>
		<url-pattern>/suppressionClient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreationCommande</servlet-name>
		<url-pattern>/creationCommande</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListerCommandes</servlet-name>
		<url-pattern>/listerCommandes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupprimerCommande</servlet-name>
		<url-pattern>/suppressionCommande</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Image</servlet-name>
		<url-pattern>/images/*</url-pattern>
	</servlet-mapping>
</web-app>